body {
  background-color:LightSkyBlue;
font-family:"Helvetica",sans,serif;
color:purple;
}
h1 {
  color:FireBrick;
  font-family: "Times New Roman", serif;
}













/**********************************
This section is for styling tables
***********************************/
table, th, td {
  border-collapse: collapse;
}
tr {
  background-color: PaleTurquoise;
}
th, td {
  vertical-align: top;
  padding: 5px;
  text-align: left;
}
th {
  color: purple;
}
td {
  color: purple;
}
/********************************/